<div class="links-container">
    <!-- <div routerLink="/calc"><a>Ejercicio 01</a></div>
    <div routerLink="/login"><a>Ejercicio 02</a></div>
    <div routerLink="/countries"><a>Ejercicio 03</a></div> -->
    <div><a routerLink="/games"><i class="fas fa-gamepad" style="transform: translate(0, 5%);"></i> Games</a></div>
    <div><a href="#"><i class="fas fa-trophy" style="transform: translate(0, 4%);"></i> Records</a></div>
    <div><a href="#"><i class="fas fa-cog" style="transform: translate(0, 4%);"></i> Settings</a></div>
    <div><a routerLink="/contacts"><i class="fas fa-address-book" style="transform: translate(0, 4%);"></i> Contacts</a></div>
    <div><a href="#"><i class="fab fa-stack-overflow" style="transform: translate(0, 4%);"></i> Excercices</a></div>
    <!-- <div><a href="#">Ejercicio 08</a></div>
    <div><a href="#">Ejercicio 09</a></div>
    <div><a href="#">Ejercicio 10</a></div>
    <div><a href="#">Ejercicio 11</a></div> -->
  </div>