<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
</div>
<h2></h2>
<div class="container" id="game-wrapper">
  <form name="juego">
    <div class="form-group">
      <label for="number">Enter number:</label>
      <input [(ngModel)]="nuevoJuego.numeroIngresado" type="number" class="form-control" id="first-number" name="number"
        placeholder="-">
      <label>
        <h2 *ngIf="nuevoJuego.numeroSecreto==0"> Esperando que ingrese un número
          <i class="fa fa-spinner fa-spin"></i>
        </h2>
        <h2 *ngIf="nuevoJuego.numeroSecreto!=0">{{nuevoJuego.numeroIngresado}}</h2>
      </label>
    </div>
    <h2 [hidden]="ocultarVerificar">
      <button *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()"
        class="btn btn-success btn-lg">Verificar</button>
    </h2>
    <h2>
      <button *ngIf="nuevoJuego.numeroSecreto==0" (click)="generarnumero()" class="btn btn-info btn-lg">
        Nuevo número secreto
      </button>
    </h2>
    <div class="container">
      <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
      <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
    </div>
  </form>
  <div id="snackbar">{{Mensajes}}</div>
</div>