<div class="nav-container">
    <a class="brand" href="https://github.com/gmaxn/TP-Sala-de-Juegos-ANGULAR-/tree/refactor"><span>GitHub</span><i class="fab fa-github"></i></a>
    <div class="nav-options">
        <a class="nav-link" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/about-me">About me</a>
        <a class="nav-link" routerLink="/register">Register</a>
        <!-- <a class="nav-link" href="#">Pricing</a> -->
    </div>
    <div class="nav-signup">
        <a class="nav-link" routerLink="/login">Sign up</a>
    </div>
</div>