@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.visible-borders {
    border: 1px solid white;
    padding:10px;
    border-radius: 5px;

}
.games-container {
    display: flex;
    align-content: space-around;
    align-items: flex-start;
    margin-right: 5px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    flex-grow: 1;
    
    
  }
  .card {
    margin:5px;
    height: 325px;
}

.card>a {
  text-align: center;
}

#games-container {
    /* border: 1px solid white; */
    /* min-height: 50px;
    min-width: 50px; */
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width:781px;
  }

  .game-card>img {
    border: 1px solid white;
    width: 100%;
    height: 184.5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
  }

  .game-card {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    flex-grow: 0;
    width: 184.5px;
    min-height: 292.5px;
    background-color:rgb(62, 45, 95);
    font-family: 'Permanent Marker', cursive;
    color: rgb(229, 229, 16);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
  }

  .game-card-body {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

  }

  .game-card-body>h5{
    min-height: 50px;
  }


  