<div id="games-container">
  <div class="game-card">
    <img src="./../../../assets/images/math-wizard.jpg" alt="image">
    <div class="game-card-body">
      <h5>Agilidad Aritmética</h5>
      <a routerLink="/agilidad-aritmetica" class="btn btn-primary">Jugar</a>
    </div>
  </div>

  <div class="game-card">
    <img src="./../../../assets/images/ppt.jpg" alt="image">
    <div class="game-card-body">
      <h5>Piedra Papel o Tijera</h5>
      <a routerLink="/piedra-papel-tijera" class="btn btn-primary">Jugar</a>
    </div>
  </div>

  <div class="game-card">
    <img src="./../../../assets/images/adivina.jpg" alt="image">
    <div class="game-card-body">
      <h5>Adivina el número</h5>
      <a routerLink="/adivina-el-numero" class="btn btn-primary">Jugar</a>
    </div>
  </div>

  <div class="game-card">
    <img src="./../../../assets/images/anagrama.jpg" alt="image">
    <div class="game-card-body">
      <h5>Anagrama</h5>
      <a routerLink="/anagrama" class="btn btn-primary">Jugar</a>
    </div>
  </div>

  <div class="game-card">
    <img src="./../../../assets/images/tetris.jpg" alt="image">
    <div class="game-card-body">
      <h5>Tetris</h5>
      <a routerLink="/tetris" class="btn btn-primary">Jugar</a>
    </div>
  </div>

  <div class="game-card">
    <img src="./../../../assets/images/memotest.jpg" alt="image">
    <div class="game-card-body">
      <h5>Memotest</h5>
      <a routerLink="/memotest" class="btn btn-primary">Jugar</a>
    </div>
  </div>
</div>