<div id="game-wrapper">

    <div id="agilidad-form">

        <label for="" id="agilidad-form-label">Agilidad Aritmetica!</label>
        <div id="agilidad-value-1">
            <input [(ngModel)]="juego.value1" class="form-control" type="number" name="" id=""  placeholder="-" readonly [(ngModel)]='juego.value1'>
        </div>

        <div id="agilidad-operator">
            <input [(ngModel)]="juego.selectedOperator" class="form-control" type="text" name="" id=""  placeholder="-" readonly >
        </div>

        <div id="agilidad-value-2">
            <input [(ngModel)]="juego.value2" class="form-control" type="number" name="" id=""  placeholder="-" readonly>
        </div>

        <div id="agilidad-result">
            <input [(ngModel)]="juego.respuesta" class="form-control" type="number" name="" (change)='verificar($event)'>
        </div>

        <div id="agilidad-timer">
            <input [(ngModel)]="timer" class="form-control" type="text" name="" id="" readonly>
        </div>

        <input id="submit" class="btn btn-primary" type="button" value="Nuevo Juego" name="new-game" (click)='NuevoJuego()'>
    </div>
</div>