<app-cabecera> </app-cabecera>

<div class="container-fluid bg-3 text-center">
  <h3>Menu</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <a routerLink="/Juegos">
        <h4 class="media-heading">Juegos</h4>
        <img src="./assets/imagenes/saladejuegos.png" class="img-responsive" style="width:100%" alt="Image">
        <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los
          estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien
          de los temas impartidos por los docentes utilizando el juego.</p>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/Listado">
        <h4 class="media-heading">Winner Records</h4>
        <img src="./assets/imagenes/podium.png" class="img-responsive" style="width:100%" alt="Image">
        <p>Los listados de los resultados con ordenamiento y busqueda</p>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/Configuracion">
        <h4 class="media-heading">Configuration</h4>
        <img src="./assets/imagenes/Configuracion.png" class="img-responsive" style="width:100%" alt="Image">
        <p>Ajustes de la aplicacion y los métodos de autentificación</p>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/Jugadores">
        <h4 class="media-heading">Contacts</h4>
        <img src="./assets/imagenes/jugadores.png" class="img-responsive" style="width:100%" alt="Image">
        <p>Listado de los jugadores y su informacion</p>
      </a>
    </div>
  </div>
</div><br><br><br>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>