
<style>

</style>

<div id="create-form-wrapper">
    <div id="create-form">
        <p class="form-title">Login</p>
        <div class="input-text-control">
            <label class="mr-sm-2">Email:</label>
            <input placeholder="Email . . ." class="form-control mb-2 mr-sm-2" [(ngModel)]="usuario" name="uname" required>
        </div>
        <div class="input-text-control" id="vehicle-price">
            <label class="mr-sm-2">Password:</label>
            <input placeholder="Repeat password . . ." type="password" class="form-control mb-2 mr-sm-2" [(ngModel)]="clave" name="psw" required>
        </div>
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar"
                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho">
                {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
        <div class="form-buttons-container">
            <button class="btn btn-primary" value="submit" *ngIf="logeando" (click)="MoverBarraDeProgreso()">Submit</button>
        </div>
    </div>
</div>