<div id="game-wrapper">

    <div id="agilidad-form">

        <label for="" id="agilidad-form-label">Email</label>
        <div id="agilidad-value-1">
            <input class="form-control" type="text" name="" id="" [(ngModel)]="email">
        </div>

        <label for="" id="agilidad-form-label">Password</label>
        <div id="agilidad-value-2">
            <input  class="form-control" type="text" name="" id="" [(ngModel)]="password">
        </div>

        <input id="submit" class="btn btn-success" type="button" value="Submit" name="new-game" (click)="onLogin()">
    </div>
</div>