<div class="nav-container">
    <a class="brand" href="https://github.com/gmaxn/ng-starter-template"><span>GitHub</span><i class="fab fa-github"></i></a>
    <div class="nav-options">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" routerLink="/about-me">About me</a>
        <a class="nav-link" href="#">Register</a>
        <!-- <a class="nav-link" href="#">Pricing</a> -->
    </div>
    <div class="nav-signup">
        <a class="nav-link" href="#">Sign up</a>
    </div>
</div>