<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->


<div class="container">
  <h2>Velocidad y agilidad aritmética</h2>
  <form>
    <div class="form-group">
      <label for="first-number">First number:</label>
      <input [(ngModel)]="nuevoJuego.numeroIngresado" type="number" class="form-control" id="first-number" name="number" placeholder="-" readonly>
    </div>
    <div class="form-group">
      <label for="operator">Operator:</label>
      <input [(ngModel)]="nuevoJuego.numeroIngresado" type="text" class="form-control" id="operator" placeholder="-" readonly>
    </div>
    <div class="form-group">
      <label for="second-number">Second number:</label>
      <input [(ngModel)]="nuevoJuego.numeroIngresado" type="number" class="form-control" id="second-number" placeholder="-" readonly>
    </div>
    <div class="form-group">
      <label for="result">Result:</label>
      <input type="number" class="form-control" id="result" placeholder="Enter result">
    </div>
    <div class="checkbox">
    </div>
    <h2 [hidden]="!ocultarVerificar"><button (click)="NuevoJuego()" class="btn btn-info btn-lg">Nuevo</button></h2>
    <div class="container">
      <h2>
        <p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p>
      </h2>
  
      <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
      <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
    </div>
  </form>
</div>


<!-- <form name="juego">
  <ul>
    <li>
      Primer número: 
      <input 
      [(ngModel)]="nuevoJuego.numeroIngresado" 
      placeholder="ingrese numero" 
      name="numeroIngresado"
      type="text" 
      class="form-control" 
      style="width:50%" 
      readonly />

    </li>
    <li>
      Operador: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado"
        type="text" class="form-control" style="width:50%" readonly />

    </li>
    <li>
      Segundo número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero"
        name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly />

    </li>
    <li>
      Respuesta: 
      <input 
      [(ngModel)]="nuevoJuego.numeroIngresado" 
      placeholder="ingrese numero" 
      name="numeroIngresado"
      type="text" 
      class="form-control" 
      style="width:50%" 
      />

    </li>
    <li>
      <h2 [hidden]="ocultarVerificar"><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}}
        </button></h2>
    </li>
    <li>
      <h2 [hidden]="!ocultarVerificar"><button (click)="NuevoJuego()" class="btn btn-info btn-lg">Nuevo</button></h2>
    </li>
    <li>
      <h2>
        <p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p>
      </h2>

      <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
      <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
    </li>
  </ul>

</form> -->