<div id="game-wrapper">

    <div class="positioner">
        <div class="cards">
            <img [src]="machineCard" alt="card">
        </div>
    </div>

    <div class="positioner">
        <div class="cards" *ngIf="!hide1">
            <img src="./../../assets/images/rock.jpg" alt="card" name="rock" (click)="onChooseCard($event)">
        </div>

        <div class="cards" *ngIf="!hide2">
            <img src="./../../assets/images/paper.jpg" alt="card" name="paper" (click)="onChooseCard($event)">
        </div>

        <div class="cards" *ngIf="!hide3">
            <img src="./../../assets/images/scissors.jpg" alt="card" name="scissors" (click)="onChooseCard($event)">
        </div>
    </div>

    <p *ngIf="showTimer" style="border-radius: 5px; padding: 10px">{{timer}}</p>

    <button class="btn btn-primary" (click)="NuevoJuego()">Nuevo Juego</button>
</div>